header.header {
    background: url('../img/background-spider.jpg') center;
    position: relative;
    
    color: #ffffff;
    padding: 0 25%;
}

header.header::before {
    content: '';
    width: 100%;
    height: 100%;
    
    background-color: #000;
    opacity: 0.8;
    
    position: absolute;
    top: 0;
    left: 0;
}

header.header .headline {
    width: 100%;
    padding: 4rem 0;
    position: relative;
    z-index: 10;
}

header.header .headline > h1 {
    font-size: 2rem;
}

