.contact, 
.contact .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact {
    width: 100%;
    align-items: center;
    padding: 5rem 0;
    color: rgb(44, 62, 80);
}

.contact .contact-form {
    width: 55%;
    align-items: flex-start;
    padding: 1rem 10%;
    color: gray;
}

.contact .contact-form .contact-input,
.contact .contact-form .contact-textarea {
    border: none;
    width: 100%;
    height: 2rem;
    border-bottom: rgb(128, 128, 128, 0.2) solid 0.1rem;
}

.contact .contact-form .contact-textarea {
    height: 6.5rem;
}

.contact-label {
    margin: 1.2rem 0 0.5rem 0;
}

.btn-send {
    border: 0;
    width: 12%;
    padding: 0.8rem;
    margin-top: 0.5em;
    border-radius: 0.3em;
    background-color: #D40A44;
    color: #ffff;
}